* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: gray;
}
.header {
  text-align: center;
  font-size: 1.2rem;
  background: #333232;
  width: 100%;
  padding: 10px;
  color: #dfdfdf;
  font-family: "Helvetica Neue";
}
.main {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
  height: 70%;
  padding: 15px;
  margin: 5px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 8px #dddddd;
  color: #3d3c3c;
}
button {
  padding: 5px;
  color: #353535;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 100%;
}
.form-info {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 100%;
}
.form-info input,
#file-label {
  width: 100%;
  outline: none;
  border: none;
  padding: 6px;
  margin: 3px;
}
.form-info h2 {
  text-align: center;
}
#file-label {
  display: block;
  width: 100%;
  background: white;
  margin-top: 2px;
  color: gray;
  font-size: 14px;
}
.cv-container {
  width: 100%;
  min-height: 100vh;
  background: #ececec;
  margin: 10px;
  padding: 30px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 8px #838383;
  font-family: monospace;
  text-align: justify;
}
.cv-container header {
  height: 20%;
  text-align: center;
}
.cv-container .info {
  height: 80%;
  width: 100%;
  display: flex;
}
.two-info {
  height: 100%;
  flex: 2;
}
.personal-info {
  height: 100%;
  flex: 1;
}

.cv-container h1 {
  border-bottom: 2px solid #333;
  font-size: 23px;
}
.cv-container .img {
  margin-top: 0px;
  width: 132px;
  height: 170px;
  margin-bottom: 5px;
}
img {
  width: 100%;
  height: 100%;
}
.cv-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #333;
}
.cv-container section {
  margin: 12px 0px;
  line-height: 20px;
}
.cv-container p {
  font-size: 16px;
  color: #222222;
}
.cv-container .last {
  color: #464646;
}
.signature {
  float: right;
  color: #464646;
}
.cv-inner-info {
  margin: 8px 0px;
}
/* .cv-description {
}
.cv-skill {
}
.cv-personal {
}
.cv-experience {
}
.cv-academic {
} */
.footer {
  background: lightgray;
  width: 100%;
  text-align: center;
  padding: 10px;
}
